.wrapper {
    margin: 150px auto;
    max-width: 600px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

#titletext {
    font-size: 40px;
    color: #C36241;
}

form { 
    padding: 4em 4em 2em;
    margin: 0 auto;
    border: 5px solid #C36241;
    border-radius: 10px;
}

form p {
    font-size: 24px;
}
    

form label {
    font-size: 20px;   
}

.radios {
    text-align: left;
    margin: 40px;   
    font-size: 22px;
}


input[type="text"],
input[type="button"] {
    display: inline
    background: #f5f5f5;
    border: 1px solid #848484;
    font-size: 30px;
    border-radius: 5px;
    margin: 30px 30px;
    padding: 5px;
    border: 2px solid #C36241;
    color: #C36241;
}

input[type="button"]:hover {
    border: 5px solid #C36241;
}

label:hover {
    background-color: #FFB291;
}

.sc p {
    font-size: 28px;
    display: inline;
}

#correct {
    font-size: 40px;
}

@media only screen 
and (max-width : 400px) {
     span {
    font-size: 14px;
}
}
